name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Linting Step
        run: echo "Linting successful"

      - name: Test Step
        run: echo "Tests passed"
